In [2]:
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
from mpl_toolkits.mplot3d import axes3d

In [4]:
nRowsRead = None
df = pd.read_csv("./Dataset/tweets_24_tendencias_raw.csv", low_memory=False, delimiter=",", nrows=nRowsRead)
df.dataframeName = "tweets_24_tendencias_raw.csv"
nRow, nCol = df.shape
print(f'There are {nRow} rows and {nCol} columns')

There are 1618956 rows and 42 columns

In [5]:
df.head()

,Unnamed: 0.1,id,conversation_id,created_at,date,time,timezone,user_id,username,name,...,reply_to,retweet_date,translate,trans_src,trans_dest,trend,Unnamed: 0,hours,day,month
0,0,1.231919e+18,1.231919e+18,2020-02-24 13:28:15 Romance Standard Time,2020-02-24,13:28:15,100.0,5.487197e+08,djurekbl,Marko Djurek,...,[],NaN,NaN,NaN,NaN,#AtletiVillareal,NaN,NaN,NaN,NaN
1,1,1.231871e+18,1.231871e+18,2020-02-24 10:18:31 Romance Standard Time,2020-02-24,10:18:31,100.0,7.882786e+17,indioscaledonia,Indios de Caledonia,...,[],NaN,NaN,NaN,NaN,#AtletiVillareal,NaN,NaN,NaN,NaN
2,2,1.232062e+18,1.162480e+18,2020-02-24 22:56:17 Romance Standard Time,2020-02-24,22:56:17,100.0,8.602287e+17,dataafaok,Data Afa (desde üè°),...,[],NaN,NaN,NaN,NaN,#AtletiVillarreal,NaN,NaN,NaN,NaN
3,3,1.232044e+18,1.232044e+18,2020-02-24 21:46:20 Romance Standard Time,2020-02-24,21:46:20,100.0,8.434539e+17,mas_que_pelotas,M√°s Que Pelotas¬ÆÔ∏è,...,[],NaN,NaN,NaN,NaN,#AtletiVillarreal,NaN,NaN,NaN,NaN
4,4,1.232044e+18,1.232044e+18,2020-02-24 21:45:00 Romance Standard Time,2020-02-24,21:45:00,100.0,8.434539e+17,mas_que_pelotas,M√°s Que Pelotas¬ÆÔ∏è,...,[],NaN,NaN,NaN,NaN,#AtletiVillarreal,NaN,NaN,NaN,NaN

In [11]:
df = df[['conversation_id', 'created_at', 'date', 'time', 'user_id', 'username', 'trend', 'hashtags']]

In [13]:
df.head()

,conversation_id,created_at,date,time,user_id,username,trend,hashtags
0,1.231919e+18,2020-02-24 13:28:15 Romance Standard Time,2020-02-24,13:28:15,5.487197e+08,djurekbl,#AtletiVillareal,['atletivillareal']
1,1.231871e+18,2020-02-24 10:18:31 Romance Standard Time,2020-02-24,10:18:31,7.882786e+17,indioscaledonia,#AtletiVillareal,"['atletivillareal', 'atleti', 'a√∫paatleti', 'g..."
2,1.162480e+18,2020-02-24 22:56:17 Romance Standard Time,2020-02-24,22:56:17,8.602287e+17,dataafaok,#AtletiVillarreal,"['laliga', 'atletivillarreal']"
3,1.232044e+18,2020-02-24 21:46:20 Romance Standard Time,2020-02-24,21:46:20,8.434539e+17,mas_que_pelotas,#AtletiVillarreal,['atletivillarreal']
4,1.232044e+18,2020-02-24 21:45:00 Romance Standard Time,2020-02-24,21:45:00,8.434539e+17,mas_que_pelotas,#AtletiVillarreal,['atletivillarreal']

In [15]:
print(f"Rows: {len(df.index)}, Columns: {len(df.columns)}")

Rows: 1618956, Columns: 8

In [16]:
df.isnull().sum()

conversation_id    901218
created_at         901218
date                    0
time                    0
user_id            901218
username                0
trend              901218
hashtags           773328
dtype: int64

In [21]:
df_copy = df

In [22]:
df_copy.ffill(inplace=True)

/tmp/ipykernel_21956/1226974513.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy.ffill(inplace=True)

In [23]:
df_copy.isnull().sum()

conversation_id    0
created_at         0
date               0
time               0
user_id            0
username           0
trend              0
hashtags           0
dtype: int64

In [25]:
df.head()

,conversation_id,created_at,date,time,user_id,username,trend,hashtags
0,1.231919e+18,2020-02-24 13:28:15 Romance Standard Time,2020-02-24,13:28:15,5.487197e+08,djurekbl,#AtletiVillareal,['atletivillareal']
1,1.231871e+18,2020-02-24 10:18:31 Romance Standard Time,2020-02-24,10:18:31,7.882786e+17,indioscaledonia,#AtletiVillareal,"['atletivillareal', 'atleti', 'a√∫paatleti', 'g..."
2,1.162480e+18,2020-02-24 22:56:17 Romance Standard Time,2020-02-24,22:56:17,8.602287e+17,dataafaok,#AtletiVillarreal,"['laliga', 'atletivillarreal']"
3,1.232044e+18,2020-02-24 21:46:20 Romance Standard Time,2020-02-24,21:46:20,8.434539e+17,mas_que_pelotas,#AtletiVillarreal,['atletivillarreal']
4,1.232044e+18,2020-02-24 21:45:00 Romance Standard Time,2020-02-24,21:45:00,8.434539e+17,mas_que_pelotas,#AtletiVillarreal,['atletivillarreal']